/DatabaseHelperApp/obj/Debug/net6.0
/DatabaseHelperApp/bin/Debug/net6.0/runtimes/win-x86/native
/DatabaseHelperApp/bin/Debug/net6.0
/DatabaseHelperApp.Tests/bin/Debug/net6.0
/SafeRun.WPFCtrlEquip.Runner/ControlViews/*.rar
/DatabaseHelperApp.Tests/obj
/LoginApp.Wpf/obj
/DatabaseHelperApp/obj
/DatabaseHelperApp/.vs/DatabaseHelperApp/v17
/DatabaseHelperApp/.vs/DatabaseHelperApp/DesignTimeBuild
/.vs/DatabaseHelperApp/v17
